.search-flight-form{
    display: flex;
    justify-content: space-between;
    background-color: #DCE7ED;
    box-shadow: $shadow;

    padding: 1rem;

    input{
        width: 100%;
    }

    input[type="text"],[type="number"]{
        width: 100%;
    }

    select, input[type="date"]{
        height: 100%;
        color: rgb(105, 105, 105);
    }

    input[type="number"]{
        min-width: 7rem;
    }

    .form-element{
        margin-right: 10px;
    }

    .text-element{
        min-width: 20%;
    }

    #search-btn{
        background-color: $color-yellow;
        border: 1px solid rgb(212, 212, 212);
        box-shadow: $shadow;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: $color-base-grey;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .date-form{
        width: 10rem;
    }

}


.result-list-section{
    .flight-card{
        background: #fff;
        box-shadow: $shadow;
        font-weight: 600;
        padding: 1.5rem;
        border-left: 5px solid #7d7d7d;

        .horizontal{
            display: flex;
        }

        .label{
            text-transform: uppercase;
            color: $color-base-grey;
            margin-right:5px;
        }


        .aircraft{
            margin-right: auto;
        }

        .top-section{
            display: flex;
            justify-content: space-between;
        }

        .fligth-number{
            margin-right: 1rem;
        }

        .flight-icon{
            img{
                width: 70px;
            }
        }

        .bottom-section{
            display: flex;
            justify-content: space-between;
        }

    }
}