.search-flight-form{
    display: flex;
    justify-content: space-between;
    background-color: #DCE7ED;
    box-shadow: $shadow;

    padding: 1rem;

    input{
        width: 100%;
    }

    input[type="text"],[type="number"]{
        width: 100%;
    }

    select, input[type="date"]{
        height: 100%;
        color: rgb(105, 105, 105);
    }

    input[type="number"]{
        min-width: 7rem;
    }

    .form-element{
        margin-right: 10px;
    }

    .text-element{
        min-width: 20%;
    }

    #search-btn{
        background-color: $color-yellow;
        border: 1px solid rgb(212, 212, 212);
        box-shadow: $shadow;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: $color-base-grey;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .date-form{
        width: 10rem;
    }

}


.result-list-section{
    margin-top: 1rem;

    .tabel-result{
        padding: 1.5rem 0px;
        font-weight: 300;
        font-size: 18px;
        color: $color-base-grey;
    }

    .flight-card{
        background: #fff;
        box-shadow: $shadow;
        font-weight: 600;
        padding: 1.5rem;
        border-left: 5px solid #7d7d7d;
        margin-bottom: 1rem;

        .horizontal{
            display: flex;
        }

        .label{
            text-transform: uppercase;
            color: #a4a4a4;
            margin-right:5px;
        }


        .aircraft{
            margin-right: auto;
            margin-left: 2rem;
        }

        .top-section{
            display: flex;
            justify-content: space-between;
        }

        .fligth-number{
            margin-right: 1rem;
        }

        .flight-icon{
            img{
                width: 70px;
                margin-top: 2px;
            }
        }

        .bottom-section{
            display: flex;
            justify-content: space-between;
            margin-top: 1.5rem;

            .section-cont{
                width: 120px;
            }

            .result{
                margin-top: 15px;
                span{
                    color: #acacac;
                }
            }

            .duration-section{
                margin-top: 5px;
            }

        }

        .show-flight-btn{
            padding: 12px 2rem;
            background-color: #ff5d5d;
            color: #ffffff;
            border-radius: 2px;
            border: 1px solid #b2b2b2;
            box-shadow: $shadow;
            float: right;
        }

        .flight-state{
            display: flex;
            align-items: center;
            span{
                display: block;
                width: 12px;
                height: 12px;
                background-color: green;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
    }
}


.button-wrapper{
    .group-btn{
        display: flex;
        float: right;
        align-items: center;
        margin-top: 2rem;
    }

    button{
        margin-right: 1.5rem;
        padding: 8px 1.5rem;
        background-color: $color-blue;
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #295EA9;
        font-weight: 500;
        text-transform: uppercase;
        box-shadow: $shadow;
    }

    .display{
        margin-right: 1rem;
        font-size: 16px;
        font-weight: 300;

    }
}