* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #535353;
}

a {
  text-decoration: none;
  color: #A8A8A8;
}

main {
  background-color: #ECF3F6;
  min-height: 100vh;
  padding-top: 7rem;
}

select, input[type="text"], [type="number"], [type="date"] {
  border: none;
  border-bottom: 2px solid #a5a5a5;
}

select:focus, input[type="text"]:focus, [type="number"]:focus, [type="date"]:focus {
  outline: none;
}

input {
  padding: 8px;
  height: 100%;
}

.fas {
  font-size: 16px;
  margin-right: 4px;
  color: #767676;
}

@media (min-width: 1500px) {
  .col-xxl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  position: absolute;
  width: 100%;
  background-color: #fff;
}

header a {
  font-weight: bold;
  text-transform: uppercase;
}

header button {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
}

header button i {
  font-size: 18px;
  color: #707070;
}

header .user a {
  padding-right: 1rem;
}

.logo {
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo img {
  width: 140px;
}

.menu-section {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.row-main {
  margin-right: 0;
}

.menu-element {
  padding: 10px;
  margin-bottom: 14px;
  background-color: white;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px !important;
  max-width: 230px;
  font-weight: 600;
  color: #707070;
}

.menu-element.menu-header {
  text-transform: initial;
  background-color: #DCE7ED;
}

.search-flight-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DCE7ED;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  padding: 1rem;
}

.search-flight-form input {
  width: 100%;
}

.search-flight-form input[type="text"], .search-flight-form [type="number"] {
  width: 100%;
}

.search-flight-form select, .search-flight-form input[type="date"] {
  height: 100%;
  color: dimgray;
}

.search-flight-form input[type="number"] {
  min-width: 7rem;
}

.search-flight-form .form-element {
  margin-right: 10px;
}

.search-flight-form .text-element {
  min-width: 20%;
}

.search-flight-form #search-btn {
  background-color: #FFE000;
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #707070;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search-flight-form .date-form {
  width: 10rem;
}

.result-list-section {
  margin-top: 1rem;
}

.result-list-section .tabel-result {
  padding: 1.5rem 0px;
  font-weight: 300;
  font-size: 18px;
  color: #707070;
}

.result-list-section .flight-card {
  background: #fff;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  font-weight: 600;
  padding: 1.5rem;
  border-left: 5px solid #7d7d7d;
  margin-bottom: 1rem;
}

.result-list-section .flight-card .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-list-section .flight-card .label {
  text-transform: uppercase;
  color: #a4a4a4;
  margin-right: 5px;
}

.result-list-section .flight-card .aircraft {
  margin-right: auto;
  margin-left: 2rem;
}

.result-list-section .flight-card .top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result-list-section .flight-card .fligth-number {
  margin-right: 1rem;
}

.result-list-section .flight-card .flight-icon img {
  width: 70px;
  margin-top: 2px;
}

.result-list-section .flight-card .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.result-list-section .flight-card .bottom-section .section-cont {
  width: 120px;
}

.result-list-section .flight-card .bottom-section .result {
  margin-top: 15px;
}

.result-list-section .flight-card .bottom-section .result span {
  color: #acacac;
}

.result-list-section .flight-card .bottom-section .duration-section {
  margin-top: 5px;
}

.result-list-section .flight-card .show-flight-btn {
  padding: 12px 2rem;
  background-color: #ff5d5d;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  float: right;
}

.result-list-section .flight-card .flight-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-list-section .flight-card .flight-state span {
  display: block;
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  margin-left: 10px;
}

.button-wrapper .group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.button-wrapper button {
  margin-right: 1.5rem;
  padding: 8px 1.5rem;
  background-color: #335679f2;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #295EA9;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
}

.button-wrapper .display {
  margin-right: 1rem;
  font-size: 16px;
  font-weight: 300;
}

#form-booking .form {
  padding: 1rem;
}

#form-booking .form-container {
  background-color: white;
  padding: 15px;
}

#form-booking button {
  padding: 8px 2rem;
  background-color: #114e8bf2;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #b2b2b2;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
}

#form-booking .qr-section {
  width: 130px;
}

#form-booking .label {
  margin-left: 7px;
  font-weight: 700;
}

#form-booking .row-group {
  padding: 1.5rem 1rem;
}

#form-booking .form-group input {
  width: 100%;
}

#form-booking .section-title {
  text-transform: uppercase;
  font-size: 14px !important;
  max-width: 230px;
  font-weight: 600;
  color: #203856;
  padding: 1rem;
}

#form-booking .section-title span {
  color: #8b8b8b;
}

#form-booking .pay-control .section-title {
  text-align: center;
  padding-right: 0;
}

#form-booking .pay-control ul {
  padding: 0.2rem 1rem;
  list-style: none;
}

#form-booking .pay-control ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

#form-booking .pay-control .total-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

#form-booking .pay-control .total-result .title-total, #form-booking .pay-control .total-result .price {
  font-size: 16px;
}

#form-booking .pay-control .total-result .title-total {
  font-weight: 800;
}

#form-booking .pay-control .btn-sec {
  margin: 1rem 0;
}

#form-booking .pay-control .btn-sec button {
  width: 100%;
}

#form-booking .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-booking .card-group i {
  color: #00318d;
  font-size: 22px;
}

#form-booking .find-client .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#form-booking .find-client .form-container .search-form {
  margin-left: auto;
  margin-right: 1rem;
}

#form-booking .find-client .form-container .search-form input {
  width: 15rem;
}

#confirm-page .form-section {
  background-color: white;
  -webkit-box-shadow: 0 6px 6px -2px #b3b3b3;
          box-shadow: 0 6px 6px -2px #b3b3b3;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#confirm-page .title-confirm {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
  font-size: 18px;
}

#confirm-page .check-logo {
  padding-bottom: 3rem;
}

#confirm-page .check-logo img {
  display: block;
  margin: auto;
  width: 100;
}

#confirm-page .details-reservation {
  padding: 2rem;
}

#confirm-page .details-reservation .form-group {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 2rem;
}

#confirm-page .details-reservation .form-group .label {
  margin-bottom: 5px;
}

#confirm-page .details-reservation .form-group .tag {
  color: #929292;
}

#confirm-page .section-title {
  text-transform: uppercase;
  font-size: 14px !important;
  max-width: 230px;
  font-weight: 600;
  color: #203856;
  padding: 2rem 0;
}

#confirm-page #ticket {
  margin: 0 2rem;
}

#confirm-page .btn-section button {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */