@import "variables";

*{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: $font-size;
}

a{
    text-decoration: none;
    color: $color-ligth-grey;
}

main{
    background-color: $color-background;
    min-height: 100vh;
    padding-top: 7rem;
}

input[type="text"], [type="number"],[type="date"]{
    border: none;
    border-bottom: 2px solid rgb(165, 165, 165);
}

input{
    padding: 8px;
    height: 100%;
}


@import "header";

@import "sidebar";

@import "flightsection";