@import "variables";

*{
    font-family:  Helvetica, Arial, sans-serif;
    font-size: $font-size;
}

a{
    text-decoration: none;
    color: $color-ligth-grey;
}

main{
    background-color: $color-background;
    min-height: 100vh;
    padding-top: 7rem;
}

select, input[type="text"], [type="number"],[type="date"]{
    border: none;
    border-bottom: 2px solid rgb(165, 165, 165);
    &:focus{
        outline: none;
    }
}


input{

    padding: 8px;
    height: 100%;
}


@media (min-width: 1500px) {
    .col-xxl-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@import "header";

@import "sidebar";

@import "flightsection";